spring:
  data:
    mongodb:
      host: mongo
      port: 27017
      database: OPPORTUNITIES
      username: developer
      password: 0dMnPJ1Seb9jZgz540E9
      transaction:
        enabled: true

app:
  environment: TEST

info:
  app:
    name: opportunities
    description: Opportunities management module
    environment: ${app.environment:UNKNOWN}
    version: 1.0.0
    owner: Platform Crew

governance:
  entity-change-tracer:
    base-url: ${ENTITY_CHANGE_TRACER_URL:http://entitychangetracer:9095}

kafka:
  bootstrapServers: 10.206.14.185:9092
  topic: opportunity-events
  clientId: opportunity
  acks: all
  retries: 3

#  WebClient + Resilience4j (DEV)
opportunities:
  http:
    baseUrl: http://localhost:9099
    connectTimeoutMs: 2000
    responseTimeoutMs: 3000
    readTimeoutMs: 3000
    writeTimeoutMs: 3000
    pool:
      maxConnections: 200
      acquireTimeoutMs: 2000
      maxIdleTimeMs: 30000
      maxLifeTimeMs: 120000

resilience4j:
  bulkhead:
    instances:
      opportunitiesBackend:
        maxConcurrentCalls: 50
        maxWaitDuration: 0
  circuitbreaker:
    instances:
      opportunitiesBackend:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 20
        minimumNumberOfCalls: 10
        failureRateThreshold: 50
        slowCallRateThreshold: 50
        slowCallDurationThreshold: 2s
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 5
  retry:
    instances:
      opportunitiesBackend:
        maxAttempts: 3
        waitDuration: 200ms
        retryExceptions:
          - java.io.IOException
          - reactor.netty.http.client.PrematureCloseException
        ignoreExceptions:
          - com.dekra.service.sales.opportunities.domain.error.FunctionalException

resilience:
  order:
    decorators: [bulkhead, circuitbreaker, retry]

#  Observability + Logging + Server (DEV)
management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, beans, env, prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    reactor.netty: INFO
    com.dekra.service.sales.opportunities: DEBUG

server:
  port: 8091
