image: maven:3.9.9-amazoncorretto-21-alpine

stages:
  - build

Build and push to Reposilite:
  stage: build
  script:
    - mvn --settings settings.xml clean deploy -DskipTests
  tags:
    - docker
  rules:
    - if: '$CI_COMMIT_REF_NAME == "develop" && ($CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "webide")'
    - if: '$CI_COMMIT_REF_NAME == "master" && ($CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "webide")'
    - if: '$CI_COMMIT_REF_SLUG =~ /^release/ && ($CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "webide")'